# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# UCI HAR Dataset
subject_test.txt
subject_train.txt
X_test.txt
X_train.txt
y_test.txt
y_train.txt
activity_labels.txt
features.txt